<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
</head>
<body>
    {% load static %}

    <input placeholder="Search for pictures here"/>

    <br>
    <br>

    <!-- How to call a variable -->
    {{ string_message }}

    <br>
    <br>

    <!-- How to make a loop -->
    {% for c in string_message %}
        {{ c }}
    {% endfor %}

    <br>
    <br>

    <!-- How to show a picture -->
    <img src="{% static "recognition/images/picture.jpg" %}" width="300">

</body>
</html>